// # Typography

@use '../variables' as var;

@if var.$target-elements-directly {
    body {
        font-family: var.$font-family-base;
        font-size: var.$font-size-base;
        font-weight: var.$font-weight-base;
        line-height: var.$line-height-base;
    }
}
