// # Normalization

// Normalization of HTML elements, manually forked from csstools/sanitize.css.
// Sanitize is licensed CC0 1.0. https://csstools.github.io/sanitize.css/

@use '../variables' as var;

// Document
// ==========================================================================

// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
// border-box by default (opinionated).

*,
*::before,
*::after {
    box-sizing: var.$box-sizing;
}

// 1. Add text decoration inheritance in all browsers (opinionated).
// 2. Add vertical alignment inheritance in all browsers (opinionated).

::before,
::after {
    text-decoration: inherit; // 1
    vertical-align: inherit; // 2
}

// Root
// Ability to the value of the root font sizes, affecting the value of `rem`.
// null by default, thus nothing is generated.

:root {
    font-size: var.$font-size-root;
}

// Selection
// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301

// Vendor-prefixed and regular ::selection selectors cannot be combined:
// https://stackoverflow.com/a/16982510/7133471

// Customize the background color to match your design.

::-moz-selection {
    background: var.$selection-color;
    text-shadow: none;
}

::selection {
    background: var.$selection-color;
    text-shadow: none;
}

// Future-proof rule: in browsers that support :focus-visible, suppress the focus outline
// on elements that programmatically receive focus but wouldn't normally show a visible
// focus outline. In general, this would mean that the outline is only applied if the
// interaction that led to the element receiving programmatic focus was a keyboard interaction,
// or the browser has somehow determined that the user is primarily a keyboard user and/or
// wants focus outlines to always be presented.
// See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
// and https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

// 1. Change the default font family in all browsers (opinionated).
// 2. Correct the line height in all browsers (opinionated).
// 3. Use a 4-space tab width in all browsers (opinionated).
// 4. Prevent adjustments of font size after orientation changes in iOS.
// 5. Change the default tap highlight to be completely transparent on mobile.
// 6. Then set touch-action to avoid touch delay on mobile IE.

html {
    font-family: sans-serif; // 1
    line-height: 1.5; // 2
    tab-size: 4; // 3
    -ms-text-size-adjust: 100%; // 4
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent; // 5
    -ms-touch-action: manipulation; // 6
    touch-action: manipulation;
}

// Sections
// ==========================================================================

// 1. Remove the margin in all browsers.
// 2. Set default text color.
// 3. As a best practice, apply a default `background-color`.

body {
    margin: 0; // 1
    color: var.$text-color-default; // 2
    background-color: var.$bg-color-default;
}

// Main display reset for IE support.
// Source: http://weblog.west-wind.com/posts/2015/Jan/12/main-HTML5-Tag-not-working-in-Internet-Explorer-91011

main {
    display: block;
}

// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Edge, Firefox, and Safari.

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

// Grouping content
// ==========================================================================

// Remove the margin on nested lists in Chrome, Edge, IE, and Safari.

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
    margin: 0;
}

// Remove the margin on nested lists in Edge 18- and IE.

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0;
}

// A better looking default horizontal rule.

hr {
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid var.$border-color-default;
    margin: 1em 0;
    padding: 0;
}

// Remove the list style on navigation lists in all browsers (opinionated).

nav ol,
nav ul {
    list-style: none;
    padding: 0;
}

// Prevent VoiceOver from ignoring list semantics in Safari (opinionated).

nav li::before {
    content: "\200B";
}

// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.
// 3. Prevent overflow of the container in all browsers (opinionated).

pre {
    font-family: monospace, monospace; // 1
    font-size: 1em; // 2
    overflow: auto; // 3
}

// Text-level semantics
// ==========================================================================

// Remove the gray background on active links in IE 10.

a {
    background-color: transparent;
}

// Figures
// Apply a consistent margin strategy (matches our type styles).

figure {
    margin: 0 0 1rem;
}

// Abbreviations
// Set a dotted border in all browsers.

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
    cursor: help;
}

// Add the correct font weight in Chrome, Edge, and Safari.

b,
strong {
    font-weight: var.$font-weight-bolder;
}

// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.

code,
kbd,
samp {
    font-family: monospace, monospace; // 1
    font-size: 1em; // 2
}

// Add the correct font size in all browsers.

small {
    font-size: var.$small-font-size;
}

// Prevent `sub` and `sup` elements from affecting the line height
// in all browsers.

sub,
sup {
    font-size: var.$sub-sup-font-size;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

// Embedded content
// ==========================================================================

// Change the alignment on media elements in all browsers (opinionated).
// Removes the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

// Add the correct display in IE 9-.

audio,
video {
    display: inline-block;
}

// Add the correct display in iOS 4-7.

audio:not([controls]) {
    display: none;
    height: 0;
}

// Remove the border on iframes in all browsers (opinionated).

iframe {
    border-style: none;
}

// Remove the border on images within links in IE 10-.

img {
    border-style: none;
}

// Change the fill color to match the text color in all browsers (opinionated).

svg:not([fill]) {
    fill: currentColor;
}

// Hide the overflow in IE.

svg:not(:root) {
    overflow: hidden;
}

// Tabular data
// ==========================================================================

// 1. Collapse border spacing in all browsers (opinionated).
// 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
// 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
// 4. Specify the placement of a table caption (opinionated).

table {
    border-collapse: collapse; // 1
    border-color: inherit; // 2
    text-indent: 0; // 3
    caption-side: bottom; // 4
}

// Forms
// ==========================================================================

// Allow labels to use `margin` for spacing.

label {
    display: inline-block;
}

// 1. Change the font styles in all browsers.
// 2. Remove the margin in Firefox and Safari.

button,
input,
optgroup,
select,
textarea {
    font: inherit; // 1
    margin: 0; // 2
}

// 1. Show the overflow in IE.
// 2. Remove the default `border-radius` that macOS Chrome adds.

button {
    overflow: visible; // 1
    border-radius: 0; // 2
}

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
// Credit: https://github.com/suitcss/base/

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

// Set the cursor for non-`<button>` buttons.

[role="button"] {
    cursor: pointer;
}

// Remove the inheritance of word-wrap in Safari.

select {
    word-wrap: normal;
}

// Remove the dropdown arrow in Chrome from inputs built with datalists.

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

// Correct the inability to style buttons in iOS and Safari.

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

// 1. Browsers set a default `min-width: min-content;` on fieldsets,
//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
//    So we reset that to ensure fieldsets behave more like a standard block element.
// 2. Set default border to be consistent in all browsers (opinionated).
// 3. Reset the default margin of fieldsets so they don't affect page layout.
// 4. Set default padding (opinionated).

fieldset {
    min-width: 0; // 1
    border: 1px solid var.$border-color-default; // 2
    margin: 0; // 3
    padding: 1em; // 4
}

// 1. Set default padding.
// 2. Correct the color and line-height inheritance from `fieldset` elements in IE.
// 3. Correct the text wrapping in Edge and IE.

legend {
    padding: 0 4px; // 1
    color: inherit; // 2
    line-height: inherit;
    white-space: normal; // 3
}

// 1. Add the correct display in Edge 18- and IE.
// 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.

progress {
    display: inline-block; // 1
    vertical-align: baseline; // 2
}

// Remove the inheritance of text transform in Edge 18-, Firefox, and IE.

button,
select {
    text-transform: none;
}

// 1. Remove the margin in Firefox and Safari.
// 2. Remove the default vertical scrollbar in IE.
// 3. Change the resize direction in all browsers (opinionated).

textarea {
    margin: 0; // 1
    overflow: auto; // 2
    resize: vertical; // 3
}

// Fix height of inputs with a type of datetime-local, date, month, week, or time.

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}
// 1. Add the correct box sizing in IE 10-.
// 2. Remove the padding in IE 10-.

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; // 1
    padding: 0; // 2
}

// Correct the odd appearance in Chrome, Edge, and Safari.

[type="search"] {
    -webkit-appearance: textfield;
}

// Correct the cursor style of increment and decrement buttons in Safari.

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

// Correct the text style of placeholders in Chrome, Edge, and Safari.

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

// Remove the inner padding in Chrome, Edge, and Safari on macOS.

::-webkit-search-decoration {
    -webkit-appearance: none;
}

// Remove padding around color pickers in webkit browsers.

::-webkit-color-swatch-wrapper {
    padding: 0;
}

// 1. Correct the inability to style upload buttons in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

// Remove the additional :invalid styles in Firefox.

:-moz-ui-invalid {
    box-shadow: none;
}

// Interactive
// ==========================================================================

// Add the correct display in Edge 18- and IE.

details {
    display: block;
}

// Add the correct display in all browsers.

summary {
    display: list-item;
    cursor: pointer;
}

// Scripting
// ==========================================================================

// Add the correct display in IE 9-.

canvas,
output {
    display: inline-block;
}

// Add the correct display in IE.

template {
    display: none;
}

// Accessibility
// ==========================================================================

// Change the cursor on busy elements in all browsers (opinionated).

[aria-busy="true"] {
    cursor: progress;
}
